{% extends "layout.html" %}
{% block content %}
<div class="side-bar">
	<div class="category">burugirl93@gmail.com  <span class="fa fa-cog"></span></div>	
	<div class="side-menu-container">
		<div class="side-menu">Postings</div>
		<div class="side-menu">Drafts</div>
		<div class="side-menu">Searches</div>
		<div class="side-menu">Biling</div>
	</div>
</div>
<div class="main-container">
	<div class="btn btn-purple">New post</div>
	<div class="sort pull-right">
			<div class="sort-by">Sort by:</div>
			<div class="sort-category">closest to <span class="keyword-purple">{{ search_result.location }}</span>  <span class="fa fa-angle-down"></span> </div>
		</div>
</div>
<div style="clear:both;"></div>
{% endblock %}