<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Craigslist</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/style/main.css" />
	</head>

	<body>
		<div class="header">
			<img src="../static/img/peace_sign.svg" class="logo" />
			<div class="location">philadelphia<span class="angle-next fa fa-angle-down"></span></div>
			<div class="btn-wrap">
				<button class="btn btn-white starred-post">
					<span class="fa fa-star"></span>
					starred posts
				</button>
				{% if signed_in %}
				<button class="btn btn-purple sign-in">New post</button>
				<div class="fa fa-user user">
					<div class="fa fa-angle-down"></div>
				</div>
				{% else %}
				<button class="btn btn-purple sign-in">sign in / sign up</button>
				{% endif %}
			</div>
		</div>
		<div class="menu-bar">
			<a class="menu">Community</a>
			<a class="menu">Relationship</a>
			<a class="menu">Forums</a>
			<a class="menu">Housing</a>
			<a class="menu">For sale</a>
			<a class="menu">Services</a>
			{% if category_not_selected %}
			<a class="menu">Jobs</a>
			{% else %}
			<a class="menu highlighted">Jobs</a>
			{% endif %}
			<a class="menu">Gigs</a>
			<input class="search" type="text" name="search" placeholder="Search craigslist" /> 
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>