{% extends "layout.html" %}
{% block content%}
<div class="side-bar">
	<div class="category">Accounting / Finance</div>
	<div class="category-search-container">
		<form class="category-search" method="GET">
			<p class="search-name">Keyword</p>
			<input type="text number" name="keyword" placeholder=" Accounting/Finance..." />
			<p class="search-name">Location</p>
			<input type="text number" name="location" placeholder="Zip, city, state" />
			<p class="search-name">Distance from location</p>
			<select>
				<option value="not-specificed">Not specified</option>
				<option value="10">10 miles</option>
				<option value="20">20 miles</option>
				<option value="50">50 miles</option>
				<option value="100">100 miles</option>
			</select>
			<div class="search-btn-wrap">
				<button type="submit" class="btn btn-purple search-btn">Search</button>
			</div>
		</form>
	</div>
	<div class="filter-block">
		<div>filters(optional):</div>
		<form>
			<div class="filter-title">Job type</div>
			<input type="checkbox">   <span>Internship</span><br>
			<input type="checkbox">   <span>Contract</span><br>
			<input type="checkbox">   <span>Entry-level job</span><br>
			<input type="checkbox">   <span>Mid-level job</span><br>
			<input type="checkbox">   <span>Senior-level job</span><br>
			<div class="filter-title">Job status</div>
			<input type="checkbox">   <span>Full time</span><br>
			<input type="checkbox">   <span>Part-time</span><br>
			<div class="filter-title">Commute type</div>
			<input type="checkbox">   <span>Commute</span><br>
			<input type="checkbox">   <span>Remote</span><br>
		</form>
	</div>
</div>
<div class="main-container">
	{% if keyword or location%}
	<p>
		<span class="keyword-purple">
			{{ search_result.number }}
		</span> 
		search results 
		{% if keyword %}
		for "
		<span class="keyword-purple">
			{{ search_result.keyword }}
		</span>"
		{% endif %} 
		{% if location %}
		near
		<span class="keyword-purple">
			{{ search_result.location }}
		</span>
		{% endif %}
	</p>
	{% else %}
	<p>
		<span class="keyword-purple">
			1142
		</span>
		search results in Accounting / Finance
	</p>
	{% endif %}
	<div class="page-sort-conatiner">
		<div class="page-number-container">
			<img src="../static/img/page-left.svg" />
			<a class="page-number" href="/">1</a>
			<a class="page-number" href="/">2</a>
			<a class="page-number" href="/">3</a>
			<a class="page-number" href="/">4</a>
			<span>...</span>
			<a class="page-number" href="/">10</a>
			<img src="../static/img/page-right.svg" />
			<img src="../static/img/page-far-right.svg" />
		</div>
		<div class="sort pull-right">
			<div class="sort-by">Sort by:</div>
			{% if location %}
			<div class="sort-category">closest to<span class="keyword-purple angle-next">{{ search_result.location }}</span>  <span class="angle-next fa fa-angle-down"></span> </div>
			{% else %}
			<div class="sort-category">Newest<span class="angle-next fa fa-angle-down"></span> </div>
			{% endif %}
		</div>
	</div>
	<div class="postings container">
		{% for posting in posting_row %}
		<div class="posting-row row">
			<div class="col-sm-2">
				<div class="fa fa-star-o keyword-light-purple"></div>
				<span class="date">{{ posting.date }}</span>
			</div>
			<div class="col-sm-5">
				<div>{{ posting.title }}</div>
			</div>
			<div class="col-sm-2">
				<div>{{ posting.compensation }}</div>
			</div>
			<div class="col-sm-2">
				<div class="fa fa-map-marker"></div>
				<span>{{ posting.location }}</span>
			</div>
			<div class="col-sm-1">
				<div class="fa fa-close"></div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div style="clear:both;"></div>
{% endblock %}