{% extends "layout.html" %}
{% block content %}
<div class="title">Welcome back to Craigslist!</div>
<div class="sign-in-container">
	<div class="sign-in-form">
		<form>
			<div class="form-name">Email</div>
			<div><input type="text number" placeholder="ex) myemail@email.com"></div>
			<div class="form-name">Password</div>
			<div><input type="text number" placeholder="********"></div>
		</form>
		<a href="/">Forgot email/password?</a>
	</div>
	<button type="submit" class="btn btn-purple">Sign in</button>
</div>
{% endblock %}